.pokemon {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  text-align: center;
}
.pokemon:hover {
  box-shadow: var(--darkShadow);
}
.pokemon img {
  /* height: 20rem; */
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.pokemon-footer {
  padding: 1.5rem;
  padding-top: 0rem;
}
.pokemon-footer h3,
.pokemon-footer h4,
.pokemon-footer p {
  margin-bottom: 0.3rem;
}
.pokemon-footer h3 {
  font-size: 2rem;
}
.pokemon-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
